In [2]:
import pandas as pd
data = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']

df = pd.DataFrame(data = data, index = index, columns = columns)
df

   A  B  C
a  1  2  3
b  4  5  6

In [3]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [4]:
df.iloc[0]

A    1
B    2
C    3
Name: a, dtype: int64

In [5]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

In [6]:
###查操作是类似的
###该操作

df.loc['a']['A']

1

In [7]:
df.loc['a']['A']=150
df

     A  B  C
a  150  2  3
b    4  5  6

In [8]:
df.index = ['f','g']
df

     A  B  C
f  150  2  3
g    4  5  6

In [9]:
####增操作 
df.loc['c']=[1,2,3]
df

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3

In [ ]:
###增加多行数据